<div class="d-flex flex-column min-vh-100">
  <app-navbar></app-navbar>

  <main class="flex-grow-1 d-flex justify-content-center align-items-center py-3" style="min-height: 50vh;">
    <div
      class="card shadow-lg border-0 rounded-4 p-4 w-100"
      style="max-width: 800px"
    >
      <h2 class="text-primary mb-4 text-center">🩺 À propos</h2>

      <div class="mb-1">
        <h5 class="text-secondary">🎮 Titre du jeu</h5>
        <p class="fs-6 fw-medium">RhumaGame</p>
      </div>

      <div class="mb-1">
        <h5 class="text-secondary">🎯 Objectif pédagogique</h5>
        <p class="fs-6">
          Ce serious game a pour objectif pédagogique de renforcer les
          connaissances dans le diagnostic, la prise en charge thérapeutique
          et l’éducation du patient atteint de pathologie rhumatologique.
        </p>
      </div>

      <div class="mb-1">
        <h5 class="text-secondary">👥 Public cible</h5>
        <p class="fs-6">
          Étudiants en médecine, résidents en rhumatologie, médecins
          généralistes.
        </p>
      </div>

      <div class="mb-1">
        <h5 class="text-secondary">✍️ Auteurs</h5>
        <p class="fs-6">
          Ce jeu a été conçu par le Dr Leila ROUACHED, le Dr Selma BOUDEN et le Dr Siwar BEN DHIA, rhumatologues à l’hôpital Charles Nicolle. Il a été réalisé bénévolement comme un support pédagogique en rhumatologie à destination des étudiants en médecine de la Faculté de médecine de Tunis.
        </p>
      </div>

      <div class="mb-1">
        <h5 class="text-secondary">⚖️ Mention légale</h5>
        <p class="fs-6">Ce jeu est gratuit et a une visée pédagogique.</p>
      </div>

      <div>
        <h5 class="text-secondary">🗓 Version</h5>
        <p class="fs-6">Version 1.0 – Mai 2025</p>
      </div>
    </div>
  </main>

  <app-footer></app-footer>
</div>
