<section id="cards-section" class="pt-3 pb-0">

  <div class="container">
    <div class="text-center mb-4">
      <h1 class="fw-bold">Bienvenue 👋</h1>
      <h3 class="text-muted">📚 Scénario disponibles</h3>
    </div>
    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card h-100 shadow">
          <img
            #cardImage1
            src="assets/scenario1.png"
            alt="Fracture ostéoporotique"
            class="card-img-top"
            style="height: 100%; width:100%; object-fit: cover; transition: transform 0.3s ease"
          />
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="card-title">Osteogame</h2>
            <p class="card-text">
              Vous êtes un médecin généraliste. Un jour, Mme Monia, votre voisine âgée de 67 ans, vous interpelle. Elle vient de subir une fracture du poignet gauche après avoir glissé dans sa cuisine. Elle a été plâtrée aux urgences.
            </p>
            <a
              [routerLink]="['/chat', 'scenario1']"
              class="btn-custom"
              (mouseenter)="onButtonHover(cardImage1)"
              (mouseleave)="onButtonLeave(cardImage1)"
            >
              Commencer
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card h-100 shadow">
          <img
            #cardImage2
            src="assets/scenario2.png"
            alt="Fracture ostéoporotique"
            class="card-img-top"
            style="height: 100%; width:100%; object-fit: cover; transition: transform 0.3s ease"
          />
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="card-title">Mission inflammation !</h2>
            <p class="card-text">
              Vous êtes médecin généraliste. Mr Chérif, 52 ans, consulte pour une douleur brutale de 
              la cheville gauche survenue depuis 5 jours, sans traumatisme apparent. Il boîte et semble 
              agacé. 
            </p>
            <a
              [routerLink]="['/chat', 'scenario2']"
              class="btn-custom"
              (mouseenter)="onButtonHover(cardImage2)"
              (mouseleave)="onButtonLeave(cardImage2)"
            >
              Commencer
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
