<div class="modal-header">
  <button type="button" class="close-button" (click)="dialogRef.close()" aria-label="Fermer">✕</button>
</div>

<div class="modal-content">
  <form (ngSubmit)="submitAnswer()" #answerForm="ngForm">
    <div *ngFor="let key of objectKeys(data.options)">
      <label>
        <input
          type="checkbox"
          [(ngModel)]="selectedOptions[key]"
          [name]="key"
        />
        {{ data.options[key].text }}
      </label>
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!hasSelectedOptions()">
      Valider
    </button>
  </form>
</div>
